@{
    ViewBag.Title = "Potvrda zaboravljene lozinke";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Molim vas provjerite vaš email kako biste ponovno postavili lozinku.
    </p>
</div>
	
