@media only screen and (max-width: 767px) {
    .collapse .row,
    .collapsing .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 50px;
    }

        .collapse .row form, .collapsing .row form {
            display: flex;
            order: 4;
        }

            .collapse .row form .col-md-2, .collapsing .row form .col-md-2 {
                padding: 0;
                margin: 0;
            }
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
