@{
    ViewBag.Title = "Naslovnica";
}

<div class="jumbotron" style="background-color:black; color:yellow;">
    <h1>CRNI PETAK</h1>
    <p class="lead">Od 16. do 21. samo u WebShopu akcija za crni petak. Popusti na sve mobitele do 90%</p>
</div>

<h2><b>Novo u ponudi</b></h2>

<div class="row">
    <div class="col-md-4">
        @Html.Action("_GetRandomNewProduct", "Home", new { categoryId = ViewBag.RandomCategory })
    </div>
    <div class="col-md-4">
        @Html.Action("_GetRandomNewProduct", "Home", new { categoryId = ViewBag.RandomCategory })
    </div>
    <div class="col-md-4">
        @Html.Action("_GetRandomNewProduct", "Home", new { categoryId = ViewBag.RandomCategory })
    </div>
</div>